In [21]:
import pandas as pd
import numpy as np

In [22]:
test_truth_path = '../../Data/challenge1_ground_truth_test.csv'
test_predictions_path = '../solution/test_output.csv'

test_truth = pd.read_csv(test_truth_path).drop('gene', axis=1)
test_predictions = pd.read_csv(test_predictions_path).drop('Unnamed: 0', axis=1)

display(test_truth)
display(test_predictions)

mae = []
for i in range(4):
    for j in range(5):
        mae.append(abs(test_truth.iloc[i,j] - test_predictions.iloc[i,j]))

print(np.mean(mae))

        a_i       b_i       c_i       d_i       e_i
0  0.020161  0.008871  0.029839  0.046774  0.894355
1  0.355372  0.082645  0.231405  0.322314  0.008264
2  0.337079  0.415730  0.067416  0.168539  0.011236
3  0.042254  0.126761  0.338028  0.464789  0.028169

   progenitor  effector  terminal exhausted   cycling     other
0    0.065890  0.186018            0.335677  0.403174  0.009241
1    0.067899  0.196264            0.321012  0.400763  0.014062
2    0.067698  0.197268            0.320410  0.400562  0.014062
3    0.068100  0.194656            0.322620  0.401366  0.013258

0.17541725075938497